.popup
   position: fixed
   top: 0
   right: 0
   bottom: 0
   left: 0
   opacity: 0
   visibility: hidden
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
   z-index: 1300
   overflow: auto
   outline: 0
   text-align: center
   font-size: 0
   transform: translate3d(0, 0, 0)
   background: rgba(#000, .6)
   transition: .3s ease-in-out
   will-change: opacity, transform
   $parent: &
   &:after
      content: ''
      display: inline-block
      vertical-align: middle
      width: 0
      height: 100%
   
   &.opened
      opacity: 1
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
      visibility: visible
   &__close
      position: absolute
      top: -35px
      right: 30px
      z-index: 10
      cursor: pointer
      padding: 0
      display: flex
      align-items: center
      justify-content: center
      border: 0
      &:hover svg
         fill: $color1
      svg
         fill: $white
         width: 24px
         height: 24px
         +trs
   
   &__container
      display: inline-block
      vertical-align: middle
      max-width: 874px
      width: 100%
      position: relative
      padding: 0 15px
      margin: 30px auto
      transition: opacity .5s ease, transform .5s ease
      transform: translate3d(0, -100px, 0)
      will-change: transform, opacity
      text-align: left
      border-radius: 5px
      +mob-fix
      &_xs
         max-width: 440px
      &_lg
         max-width: 855px
   &__inner
      padding: 45px 25px 50px
      box-shadow: 0 8px 20px rgba(6, 53, 83, 0.13)
      border-radius: 17px
      background-color: #ffffff
      +xs
         padding: 30px 25px 35px
      p
         color: #5c6164
         font-size: 18px
         line-height: 24px
         text-align: center
         +xs
            font-size: 16px
            
body.popup-opened
   overflow: hidden

.popup.opened .popup__container
   -webkit-transform: translate3d(0, 0, 0)
   -moz-transform: translate3d(0, 0, 0)
   transform: translate3d(0, 0, 0)
  
// *** begin thanks-popup *** //
.thanks-popup
   text-align: center
   &__title
      margin-bottom: 14px
      text-transform: uppercase
   &__btn
      display: none
// end thanks-popup //

// *** begin call-popup *** //
.call-popup
   p
      margin-bottom: 20px
   &__title
      margin-bottom: 20px
      text-align: center
   &__form
      &-row
         margin: 0 0 30px
         flex-direction: column
      &-field
         &:not(:last-child)
            margin-bottom: 10px
// end call-popup //
