.slider
   display: none
   &.slick-initialized
      display: block
      
.slider-dots
   display: flex
   justify-content: center
   li
      button
         width: 10px
         height: 10px
         background: rgba($white, .5)
