mixin btn(type, text, classMod, popup)
	case type
		when 'a'
			+e.A.btn.btn(class= classMod href='#!')= text
		when 'b'
			+e.BUTTON.btn.btn(class= classMod type='button' data-popup-target= popup)= text
